body{
    background-color: black;
}
.container{
    margin-top: 8%;
}

.card{
    /* width: 30%; */
    margin-top: 8%;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.2s ease-in-out;
}
.card:hover{
    background-color: aqua;
    transform: scale(1.1);
}
.card-header{
    font-weight: bold;
    text-align: center;
    background-color: rgb(255,255,255,0);

}
h4{
    text-align: center;
    color: white
}
h2{
    text-align: center;
}
.covid-header{
    color: white;
}